.album-container{
  margin-top: 100px;
}
.album-container > h1{
color: rgb(86, 84, 84);
font-family: 'DM Sans', sans-serif;
text-align: center;
}

hr{
    display: none;
}
.album-container .card-title{
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    text-align: center;
}
.album-container .card-body{
    padding: 0px;
}
.album-container .card-title{
    margin-bottom: 0;
}
.card {
    aspect-ratio: 1/1; /* Set a fixed height for the square frame */
    overflow: hidden; /* Ensure that content outside the frame is hidden */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }

  .card-img-top {
    width: 100%;
    height: 100%;
    object-fit:cover; /* This property maintains the aspect ratio and covers the entire container */
    background-color: rgb(209, 209, 209);
  }

  @media screen and (max-width: 768px) {
    .album-h1{
      font-size: 1.8em;
      padding: 1px 10px;
text-align: center;
    }
    hr{
        display: block;
        margin: 10px;
        margin-top: 0;
        width: 200px;
        margin-left: auto;
        border: 2px dotted black;
        margin-right: auto;
    }
    .album-container{
      margin-top: 50px;
    }
  }