.album-container > h1{
color: rgb(86, 84, 84);font-family: 'Comfortaa', sans-serif;
/* 
font-family: 'Shantell Sans', cursive; */
}

.album-container .card-title{
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    text-align: center;
}
.album-container .card-body{
    padding: 0px;
}
.album-container .card-title{
    margin-bottom: 0;
}
.card {
    width: 100%; /* Adjust the width of your card container as needed */
    height: 100%; /* Set a fixed height for the square frame */
    overflow: hidden; /* Ensure that content outside the frame is hidden */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: contain; /* This property maintains the aspect ratio and covers the entire container */
    background-color: rgb(209, 209, 209);
  }