/* font-family: 'Comfortaa', sans-serif;
font-family: 'Cookie', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Prata', serif;
font-family: 'Rancho', cursive;
font-family: 'Shantell Sans', cursive;
font-family: 'Ubuntu Mono', monospace; */

.home {
    background-image: url("../assets/output_image.webp");
    background-size: cover;
    height: 100vh;
    background-position: 100% 40%;
  }

  h1{
    color: rgb(238, 200, 129);
    font-family: 'Shantell Sans', cursive;
    font-weight: 700;
    padding-bottom: 70px;
    letter-spacing: 1px;
    font-size: 3rem;
    line-height: 1.7em;
  }
  .about-container{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      max-width: 70%;
  }
  .about-container h1{
    padding-top:70px;
    font-family: 'Comfortaa', sans-serif;
  }
  .about-container p{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.5rem;
    line-height: 1.5em;
    padding-bottom: 100px;
    margin-bottom: 0;
    text-align:center;
  }
  .contact-container{
    background-color: black;
  }
  .contact-container p{
    margin-bottom: 0;
    font-size: 1.1em;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .contact-container a{
    text-decoration: none;
    color: rgb(238, 223, 195);
  }
.contact-container .social a{
  font-size: larger;
}
.contact-container .social{
  text-align: end;
}
.pagination{
  align-content: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .contact-container .social ,.contact-container .credit{
    text-align: center;
  }
  h1{
    font-size: 2.1em;
  }
  
}